body {
	background-color:#ffe6f0;
	font-family:'open sans' , sans-serif;
	margin: 0;
	padding: 60px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 90%;
	max-width: 600px;
}

/* Boris-style Card separation */
.card {
	background:white;
	padding: 40px;
	margin-bottom: 30px;
	border-radius:8px;
	box-shadow: 0px 4px 15px rgba(0,0,0,0.05);
	text-align:center;
	border: 1px solid #e0e0e0;
}

/* The Pink Title you asked for */
.pink-title {
	color: #ffe6f0;
	font-size: 32px;
	margin-bottom: 20px;
}

.img-circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	margin: 10px auto 20px auto;
	border: 4px solid #ffffff;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

h1 {
	color: #FF3E96;
  }

h2 {
	 color: #575ED8;
	 font-size: 22px ;
	 margin-bottom: 15px;
	 border-bottom: 5px;
	 display: inline-block;
	 padding-bottom: 5px;
}

p {
	color: #4a4a4a;
	line-height: 1.6;
	font-size: 17px;
}

.btn-blue {
	background-color: #575ED8;
	color: white !important;
	padding: 15px 30px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
	font-weight: bold;
}

.btn-blue:hover {
	background-color: #ffe6f0;
}



